<img id="imagem-fundo" src="assets/images/img-fundo.jpg" alt="imagem-background">

<div id="container-perfil">

  <div id="perfil">

    <div id="container-titulo-perfil">

      <div id="titulo-perfil">
        <h1> &lt; Tiago_Gélio /&gt;</h1>
        <h3>Desenvolvedor Web</h3>
      </div>

      <div id="container-icones">
        <img class="icones" src="assets/svg/html.svg" title="HTML" alt="HTML">
        <img class="icones" src="assets/svg/css.svg" title="CSS" alt="CSS">
        <img class="icones" src="assets/svg/javascript.svg" title="Javascript" alt="Javascript">
        <img class="icones" src="assets/svg/typescript.svg" title="Typescript" alt="Typescript">
        <img class="icones" src="assets/svg/react.svg" title="React" alt="React">
        <img class="icones" src="assets/svg/tailwind.svg" title="Tailwind" alt="Tailwind">
        <img class="icones" src="assets/svg/node.svg" title="Node" alt="Node">
      </div>

    </div>

    <div id="container-foto-perfil">
      <img id="foto-perfil" src="assets/images/img-perfil.jpeg" title="imagem-perfil" alt="imagem-perfil">
    </div>

  </div>

  <div id="descricao-perfil">
    <p>Graduado em Gestão da Tecnologia da Informação e pós-graduado em Engenharia de Software, 
    iniciei minha jornada no desenvolvimento web há mais de dois anos, 
    com o objetivo de criar experiências digitais eficazes e agradáveis para os usuários, 
    combinando criatividade e funcionalidade.</p>
  </div>
 
</div>